<div>
  <h2>
    Play your favorite instrument
  </h2>
</div>
<div class="index-query-form">
  <%= simple_form_for :search, url: root_path, method: "get" do |f| %>
  <%= f.text_field :query, name: "query", value: @query %>
  <%= f.submit "Search", name: nil %>
  <% end %>
</div>
  <% if params[:query].present? %>
  <p>You found <strong><%= @instruments.count %></strong> results by search <strong><%= params[:query] %></strong>.</p>
  <% end %>
