<h1 class="mt-5">My Dashboard</h1>
<div class="mt-4">
    <p class="h3">Orders</p>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
            <th scope="col">#</th>
            <th scope="col">Instrument</th>
            <th scope="col">Renter</th>
            <th scope="col">From</th>
            <th scope="col">-</th>
            <th scope="col">To</th>
            <th scope="col">Archive</th>
            </tr>
        </thead>
        <tbody>
            <% @orders.each do |order| %>
              <% if order.status = 'open' || order.status = 'pending' %>
                <tr>
                    <th scope="row">
                        <%= order.id %>
                    </th>
                    <td>
                      <%= link_to order.instrument.name, instrument_path(order.instrument_id) %>
                    </td>
                    <td>
                      <%= order.renter.username %>
                    </td>
                    <td>
                      <%= order.start_date %>
                    </td>
                    <td></td>
                    <td>
                      <%= order.end_date %>
                    </td>
                    <td>
                      <%= link_to "Archive", order_path(order.id), method: :delete, data: { confirm: 'Are you sure ?' } %>
                    </td>
                </tr>
              <% end %>
            <% end %>
        </tbody>
    </table>
</div>

<div class="mt-4">
    <p class="h3">Instruments</p>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <% @instruments.each do |instrument| %>
                <tr>
                    <th scope="row">
                        <%= instrument.id %>
                    </th>
                    <td>
                      <%= link_to instrument.name, instrument_path(instrument.id) %>
                    </td>
                    <td>
                        <%= instrument.price %>
                    </td>
                    <td>
                        <%= instrument.status %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>

</div>

<div class="mt-4">
    <p class="h3">Favorites</p>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
            <th scope="col">#</th>
            <th scope="col">Instrument</th>
            <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            <% @favorites.each do |favorite| %>
                <tr>
                    <th scope="row">
                        <%= favorite.id %>
                    </th>
                    <td>
                        <%= link_to instrument_path(favorite.instrument) do %>
                            <%= favorite.instrument.name %>
                        <% end %>
                    </td>
                    <td>
                        <%= favorite.instrument.price %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
