<h2><%= @user.username.capitalize %>'s instruments.</h2>
<% @user.instruments.each do |instrument| %>
<div class="card">
  <div class="card-image"
  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
    <% unless instrument.photos.attachments.count == 0 %>
    url('<%= cl_image_path instrument.photos.attachments.first.key, height: 300, width: 400, crop: :fill %>');
    <% else %>
    url('<%= cl_image_path 'default_instrument_image', height: 300, width: 400, crop: :fill %>');
    <% end %>">
  </div>
  <div>
    <p><%= instrument.name %></p>
    <p><%= instrument.status %></p>
    <p><%= instrument.description %></p>
    <p>Price : <%= instrument.price %></p>
  </div>
<% end %>
</div>
<p>Member since : <%= @user.created_at %></p>
<%= @user.country %>
