<h1>All Instruments</h1>

<% if policy(Instrument).create? %>
  <%= link_to "New instrument", new_instrument_path %>
<% end %>

<div class="cards">
  <% @instruments.each do |instrument| %>
    <%= link_to instrument_path(instrument) do %>

      <div class="card">
        <% i_photo = instrument.photos.first %>
        <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path i_photo.key, height: 300, width: 400, crop: :fill %>')"></div>

        <div class="card-info">
          <div class="card-name"><%= instrument.name %></div>
          <div class="card-price"><%= instrument.price %> &euro; </div>
        </div>
      </div>
    <% end %>
  <% end %>

