<h1>All Instruments</h1>

<% if policy(Instrument).create? %>
  <%= link_to "New instrument", new_instrument_path %>
<% end %>

<div class="cards">
  <% @instruments.each do |instrument| %>
    <%= link_to instrument_path(instrument) do %>

      <div class="card">
        <div class="card-image" style="background-image: url(<%= instrument.photos %>)"></div>

        <div class="card-info">
          <div class="card-name"><%= instrument.name %></div>
          <div class="card-price"><%= instrument.price %> &euro; </div>
        </div>
      </div>
    <% end %>
  <% end %>

