<div class="container">
  <h1><%= @instrument.name %></h1>
  <%= link_to "Back to all instruments", root_path %>


<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Ad</a></li>
    <li class="breadcrumb-item active" aria-current="page">ID1234</li>
  </ol>
</nav>

<div class="bg white">
  <div class="container p-3">
    <div class="row">
      <div class="col-md-8">
        <%=image_tag("cello.png", alt: "Example Image")%>


              <div class="card-name"><%= @instrument.name %></div>
              <div class="card-price"><%= @instrument.price %> &euro; </div>
            </div>
          </div>
</div>

